In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.2'

In [3]:
df = pd.read_csv("./yellow_tripdata_2021-07.csv", nrows=100)

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.8,1,N,90,68,1,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.9,1,N,113,90,2,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.8,1,N,88,232,2,10.0,3.0,0.5,0.0,0.0,0.3,13.8,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.4,1,N,79,249,1,7.0,3.0,0.5,1.5,0.0,0.3,12.3,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.0,1,N,142,238,1,8.5,3.0,0.5,0.0,0.0,0.3,12.3,2.5

In [6]:
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

In [16]:
import sqlalchemy
url = 'postgresql://root:root@localhost:5432/ny_taxi'
con = sqlalchemy.create_engine(url, client_encoding='utf8')

In [17]:
con.connect()

In [18]:
# This gives the schema of the database specific to postgres
print(pd.io.sql.get_schema(df, "yellow_taxi_data", con=con))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

Now, we want to create an empty table in postgres with the structure as specified above

In [19]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [47]:
# df.to_sql(name="yellow_taxi_data", con=con, if_exists="replace", chunksize=100000)
df_iter = pd.read_csv("./yellow_tripdata_2021-07.csv", iterator=True, chunksize=100000)

In [35]:
type(df_iter)

pandas.io.parsers.readers.TextFileReader

In [42]:
df = next(df_iter)

In [43]:
df.shape

(100000, 18)

In [44]:
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

In [45]:
# Create the structure of the table
df.head(0).to_sql(name="yellow_taxi_data", con=con, if_exists="replace")

0

In [46]:
from time import time

In [51]:
while True:
    t_start = time()    
    df = next(df_iter)
    
    # Changing the datatype of date-time columns to datatime (since they are being read as TEXT)
    df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
    df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])
                           
    df.to_sql(name="yellow_taxi_data", #table_name \
              con=con,                 #connection name\
              if_exists="append")       #append data

    t_end = time()
    
    print("insertion completed successfully, took %.3f seconds" % (t_end - t_start))

insertion completed successfully, took 9.773 seconds
insertion completed successfully, took 8.448 seconds
insertion completed successfully, took 8.377 seconds
insertion completed successfully, took 8.134 seconds
insertion completed successfully, took 7.980 seconds
insertion completed successfully, took 7.953 seconds
insertion completed successfully, took 8.256 seconds
insertion completed successfully, took 7.811 seconds
insertion completed successfully, took 8.470 seconds
insertion completed successfully, took 8.222 seconds
insertion completed successfully, took 7.931 seconds
insertion completed successfully, took 8.982 seconds
insertion completed successfully, took 9.588 seconds
insertion completed successfully, took 8.739 seconds
insertion completed successfully, took 8.579 seconds
insertion completed successfully, took 8.596 seconds
insertion completed successfully, took 8.893 seconds
insertion completed successfully, took 8.144 seconds
insertion completed successfully, took 8.870 seconds
insertion completed successfully, took 10.009 seconds
insertion completed successfully, took 8.315 seconds
insertion completed successfully, took 8.434 seconds
insertion completed successfully, took 8.590 seconds
insertion completed successfully, took 8.146 seconds
insertion completed successfully, took 8.827 seconds
insertion completed successfully, took 8.746 seconds

/var/folders/sx/vlxn2y_14pl4x_4n8p35s9xr0000gn/T/ipykernel_52743/578396377.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

insertion completed successfully, took 9.776 seconds
insertion completed successfully, took 7.277 seconds
insertion completed successfully, took 1.530 seconds

StopIteration: